<p>Оставьте ваш номер телефона и мы с Вами свяжемся:</p>

<form action="index.php?route=checkout/fastorder" method="post">
  <input type="tel" name="telephone" id="telephone" placeholder="+380..." value="123">
  <input type="submit" value="OK">
</form>